---
---
@import '_meyer-reset';
$width: 80vw;

html, body {
  height: 100%;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oswald,"Helvetica Neue",Arial,sans-serif;
  width: 90vw;
  @media screen and (min-width: 1200px) {
    width: $width !important;
  }
  margin: 0 auto;
  flex-direction: column;
}
header {
  width: 100%;
  padding: 35px 0 30px;
  text-align: center;
  display: flex;
  &:after {
    clear: both;
    display: block;
    content: "";
  }
  a {
    color: black;
    text-decoration: none;
  }
  h1 {
    font-size: 3em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    display: inline-block;
    margin: 0;
  }
  nav {
    text-align: right;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    flex-grow: 1;
    align-self: center;
    a + a { border-left: 1px solid #ccc; }
    a {
      &:hover, &.active {
        text-decoration: underline;
      }
      font-size: 1.7em;
      padding: 0 1em;
      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}

footer {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  text-align: center;
  margin: 40px 0 20px;
  font-size: 1.5em;
  a {
    font-size: 1.1em;
    color: black;
  }
}

main.center {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

main.contact {
  > div {
    flex-grow: 1;
  }
}

.video-list {
width: 100%;
}

.video-list-item {
  overflow: hidden;
  width: $width;
  height: $width/2;
  margin: 10px auto;
  max-height: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 700px) {
    width: 90vw;
    height: 45vw;
  }
  .icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
  }
  .bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    left: 25px;
    bottom: 25px;
  }
  span {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    align-items: center;
    font-weight: 500;
    font-size: 2.3em;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
  }
  video {
    width: 100%;
    position: relative;
  }
  .play {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iSWNvbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+CiAgPHRpdGxlPnBsYXk8L3RpdGxlPgogIDxwb2x5Z29uIHBvaW50cz0iOTIuNTAzIDUwIDE3LjUwMyA5My4zMDEgMTcuNTAzIDYuNjk5IDkyLjUwMyA1MCIgc3R5bGU9ImZpbGw6IG5vbmU7c3Ryb2tlOiAjZmZmO3N0cm9rZS1taXRlcmxpbWl0OiAxMDtzdHJva2Utd2lkdGg6IDJweCIvPgo8L3N2Zz4K");
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover{
      background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iSWNvbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+CiAgPHRpdGxlPnBsYXktZmlsbGVkPC90aXRsZT4KICA8cG9seWdvbiBwb2ludHM9IjkyLjUwMyA1MCAxNy41MDMgOTMuMzAxIDE3LjUwMyA2LjY5OSA5Mi41MDMgNTAiIHN0eWxlPSJmaWxsOiAjZmZmO3N0cm9rZTogI2ZmZjtzdHJva2UtbWl0ZXJsaW1pdDogMTA7c3Ryb2tlLXdpZHRoOiAycHgiLz4KPC9zdmc+Cg==");
    }
  }
}

.about {
  display: flex;
  .photo {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  p {
    text-align: justify;
    margin-bottom: 10px;
  }
}
