<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato|Lato:300|DM+Sans:700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="/style.css">
    <title>Gaspar Palacio</title>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-106055524-1', 'auto');
    ga('send', 'pageview');
  </script>
  </head>
  <body class="{{ page.container }}">
    <header>
      <h1><a href="/">Gaspar Palacio</a></h1>
      <nav>
        <a href="/"{% if page.permalink == '/' %}class="active"{% endif %}>Home</a>
        <a href="/films"{% if page.permalink == '/films' %}class="active"{% endif %}>Films</a>
        <a href="/montages"{% if page.permalink == '/montages' %}class="active"{% endif %}>Montages</a>
        <a href="/about"{% if page.permalink == '/about' %}class="active"{% endif %}>About</a>
        <a href="/contact"{% if page.permalink == '/contact' %}class="active"{% endif %}>Contact</a>
      </nav>
    </header>
    {{ content }}
    <footer>
        Copyright 2017 © Gaspar Palacio - <a href="/contact">Contact</a>
    </footer>
  </body>
</html>
