<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300|Roboto+Condensed:700" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Gaspar Palacio</title>
  </head>
  <body class="container">
    <header>
      <h1><a href="/">GASPAR PALACIO</a></h1>
      <nav>
        <a href="/"{% if page.permalink == '/' %}class="active"{% endif %}>Home</a>
        <a href="/films"{% if page.permalink == '/films' %}class="active"{% endif %}>Films</a>
        <a href="/montages"{% if page.permalink == '/montages' %}class="active"{% endif %}>Montages</a>
        <a href="/about"{% if page.permalink == '/about' %}class="active"{% endif %}>About</a>
        <a href="/contact"{% if page.permalink == '/contact' %}class="active"{% endif %}>Contact</a>
      </nav>
    </header>
    {{ content }}
    <footer>
        Copyright 2017 © Gaspar Palacio - <a href="/contact">Contact</a>
    </footer>
  </body>
</html>
